body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 24px;
}

#sImage {
  width: 200px;
  height: 250px;
  display: center;
  border: 10px solid white;
}

#student-details {
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
  font-size: large;
  text-align: center;
}

#student-pic {
  width: 300px;
  height: 400px;
  display: center;
}

#new-form {
  text-align: center;
}

#imgTwo {
  width: 200px;
  height: 250px;
  display: center;
  border: 10px solid white;
}


iframe {
  display: block;
  margin: 0 auto; /* This centers the iframe horizontally */
  width: 500px; /* Adjust the width as needed */
  height: 500px; /* Adjust the height as needed */
  /* lower it on the page */
  position: relative;
  top: 100px;
  
}