body {
  margin: 0;
  padding: 0;
  background-color: #111827;
  font-family: 'Germania One', cursive;
}

#banner-img {
  width: 80%;
  height: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}


header {
  background-color: #333;
  color: white;
  text-align: center;
  background-color: #111827;
}

#welcome {
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 0px;
  font-family: 'Germania One', cursive; 
  -webkit-text-stroke: .1px #070707;
}

#click {
  text-align: center;
  color: rgb(252, 94, 178); ;
  font-family: 'Franklin Gothic Medium';
  font-size: 14px;
  font-weight: bold;
  -webkit-text-stroke: .1px black;
  margin: 0;
}

#main {
  padding: 30px;
}

h1 {
  margin: 0;
  font-size: 24px;
}

#sImage {
  width: 100px;
  height: 150px;
  margin-right: 3.5%;
  display: center;
  border: 1px solid white;
  background-size: cover;
  border-radius: 5px;
  
}

#sImage:hover {
border-color: gold;
}

#imgTwo {
width: 100px;
  height: 150px;
  margin-right: 3.5%;
  display: center;
  border: 1px solid white;
  background-size: cover;
  border-radius: 5px;
}

#imgTwo:hover {
border-color: gold;
}


#student-details {
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  color: white;
  font-family: 'Germania One', cursive;
}

#student-pic {
  width: 300px;
  height: 400px;
  display: center;
  background-size:contain;
  border: 1px solid white;
}

#student-pic:hover {
  border-color: red;
}

h4 { 
  color:rgb(252, 94, 178)
}

#new-form {
  text-align: center;
  font-family: 'Germania One', cursive;
  color: white; 
  text-shadow: 1px 1px 1px #070707;
}

#join {
  margin-top: 5px;
  width: 150px;
  height: 30px;
  background-color: red;
  border-radius: 5px;
  border-width: 3px;
  border-color: gold;
  color: white;
  font-family: 'Germania One', cursive;
  font-size: 15px;
}

#new-form input[type="text"] {
  font-family: 'Germania One', cursive;    background-color: #070707;
  color: rgb(252, 94, 178); 
      border: 1px solid #852570;
  border-color: rgb(252, 94, 178); 
  border-radius: 20px; 
  padding: 5px 5px; 
  font-size: 12px; 
}

#imgTwo {
  width: 200px;
  height: 250px;
  display: center;
  border: 10px solid white;
}

#wheel-iframe {
  display: block;
  margin: 0 auto; 
  width: 500px; 
  height: 600px; 
  
  position: relative;
  top: 100px;
  
}

#chat-bot {
 display: block; 
  top: 100px;
  border: rgba(139, 135, 137, 0.169) 1px solid;
  width: 500px;
  margin: 0 auto;   position: relative;
}


/* testing */